<!--blog/base.html을 확장하여-->
<!--제목(Input type text)-->
<!--내용 (textarea)-->
<!--작성버튼 (button)-->
<!--을 갖는 html을 완성-->

{% extends 'blog/base.html' %}
{% block content %}
<div class="post-create-wrap">
    <div class="post-create">
        <form action="/post/create/" method="POST">
            {% csrf_token %}
            <input name="title" type="text">
            <textarea name="text" rows="5" cols="30" name="contents"></textarea>
            <button type="submit">작성</button>
        </form>

    </div>

</div>
{% endblock %}