<!--blog/base.html을 확장하여-->
<!--제목(Input type text)-->
<!--내용 (textarea)-->
<!--작성버튼 (button)-->
<!--을 갖는 html을 완성-->

{% extends 'blog/base.html' %}
{% block content %}
<a href="{% url 'post_list' %}" class="btn btn-primary pull-right">List</a>
<a href="{% url 'post_detail' pk=post.id %}" class="btn btn-primary pull-right">Back</a>
<div class="post-modify-wrap">
    <div class="post-modify">
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{field.label_tag}}
                {{field}}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-lg btn-block">Modify</button>
        </form>
    </div>
</div>
{% endblock %}